#middle_column {
	width: 78%;
	display: inline-block;
	height: inherit;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#right_column {
	width: 20%;
	display: inline-block;
	height: inherit;
}

body {
	min-height: 800px;
}

.multiplication_table{
	min-height: 50px;
	width: 100%;
	background-color: #ffffff;
	margin-top: 50px;
	border: 1px solid black;
	border-collapse: collapse;
}

.multiplication_table tr td{
	text-align: center;
	vertical-align: center;
	padding: 10px;
	border: 1px solid black;
}